<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="computers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Computers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="computers-link">
                <a href="{% url 'products' %}?category=windows_desktop" class="dropdown-item">Windows Desktops</a>
                <a href="{% url 'products' %}?category=windows_laptop" class="dropdown-item">Windows Laptops</a>
                <a href="{% url 'products' %}?category=apple_desktop" class="dropdown-item">Apple Desktops</a>
                <a href="{% url 'products' %}?category=apple_laptop" class="dropdown-item">Apple Laptops</a>
                <a href="{% url 'products' %}?device_type=computers" class="dropdown-item">All Computers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="phones-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="phones-link">
                <a href="{% url 'products' %}?category=apple_iphone" class="dropdown-item">iPhones</a>
                <a href="{% url 'products' %}?category=android_phone" class="dropdown-item">Android Phones</a>
                <a href="{% url 'products' %}?device_type=phones" class="dropdown-item">All Phones</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tablets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tablets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tablets-link">
                <a href="{% url 'products' %}?category=apple_ipad" class="dropdown-item">iPads</a>
                <a href="{% url 'products' %}?category=android_tablet" class="dropdown-item">Android Tablets</a>
                <a href="{% url 'products' %}?device_type=tablets" class="dropdown-item">All tabletss</a>
            </div>
        </li>
    </ul>
</div>