<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="computers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Computers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="computers-link">
                <a href="" class="dropdown-item">Windows Desktops</a>
                <a href="" class="dropdown-item">Windows Laptops</a>
                <a href="" class="dropdown-item">Apple Desktops</a>
                <a href="" class="dropdown-item">Apple Laptops</a>
                <a href="" class="dropdown-item">All Computers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="phones-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Phones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="phones-link">
                <a href="" class="dropdown-item">iPhones</a>
                <a href="" class="dropdown-item">Android Phones</a>
                <a href="" class="dropdown-item">All Phones</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tablets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tablets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tablets-link">
                <a href="" class="dropdown-item">iPads</a>
                <a href="" class="dropdown-item">Android Tablets</a>
                <a href="" class="dropdown-item">All tabletss</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>