{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3 keep-shopping">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
        <img src="{{ MEDIA_URL }}bean-repair.jpg" alt="Bean repairing laptop" class="img-fluid" 
                    style="max-height: 300px !important; width: 100% !important; margin-bottom: 20px;">
        <h2>About Us</h2>
        <p class="about-us-text">Welcome to Refurbean, where sustainability meets technology.
             We are dedicated to providing affordable, high-quality
             refurbished devices to individuals, businesses, and schools. 
             Our mission is to make technology accessible to everyone 
             while reducing the environmental impact of electronic waste. 
             By offering a wide selection of carefully inspected and 
             certified refurbished tech, we ensure that every product is as 
             reliable as it is eco-friendly.</p>
        <p class="about-us-text">At Refurbean, we believe that buying refurbished doesn't
             mean compromising on quality. Each product undergoes a 
             thorough refurbishment process, including cleaning, repairs,
             and quality checks to ensure that it meets our strict standards. 
             Whether you're in the market for a laptop, smartphone, tablet, 
             or any other gadget, you can trust that our products will 
             deliver excellent performance at a fraction of the price of new devices.</p>
        <p class="about-us-text">Our commitment extends beyond offering great deals – we 
            strive to create a more sustainable future for the planet. 
            Every refurbished device we sell helps keep valuable 
            electronics out of landfills and reduces the carbon footprint of 
            manufacturing new products. At Refurbean, we’re proud to be part of 
            the solution, making technology affordable and environmentally 
            responsible for everyone. Join us in our journey to 
            create a more sustainable world, one device at a time.</p>
    </div>
{% endblock %}
