{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3 keep-shopping">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <img src="{{ MEDIA_URL }}bean-at-desk.jpg" alt="Bean sat typing on a laptop" class="img-fluid" 
         style="max-height: 300px !important; width: 100% !important; margin-bottom: 20px;">
    
    <h2 class="connect-with-us">Connect With Us</h2>
    <div class="row">
        <div class="col-12 col-md-6 connect-with-us">
            <h2 class="connect-with-us">Keep up to date with all our latest offers</h2>
            <a href="https://www.facebook.com/people/Refurbean/61571030731798/" style="font-size:larger;" rel="noopener noreferrer nofollow" target="_blank">
                <i class="fab fa-facebook-square"></i> Follow us on Facebook!
            </a>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="connect-with-us">Get exclusive offers and discount codes by subscribing to our monthly newsletter!<h2>
            
            <!-- Mailchimp signup form -->
            <div id="mc_embed_shell">
                
                <div id="mc_embed_signup">
                    <form action="https://gmail.us15.list-manage.com/subscribe/post?u=5795086724fb6ff77bc6e451e&amp;id=fb9d0fd2bd&amp;f_id=008784e0f0" 
                          method="post" 
                          id="mc-embedded-subscribe-form" 
                          name="mc-embedded-subscribe-form" 
                          class="validate" 
                          target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our newsletter!</h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span> indicates required
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input type="text" name="b_5795086724fb6ff77bc6e451e_fb9d0fd2bd" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    <p style="margin: 0 auto;">
                                        <a href="http://eepurl.com/i7pWt2" title="Mailchimp - email marketing made easy and fun">
                                            <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" 
                                                     alt="Intuit Mailchimp" 
                                                     style="width: 220px; height: 40px; display: flex; padding: 2px 0; justify-content: center; align-items: center;">
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
        fnames[6] = 'COMPANY';
        ftypes[6] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}
